* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-name {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #f1f1f1; */
    flex-direction: column;
}

/* .input-add-name {
    width: 40%;
    padding: 5px 15px;
    border: none;
    /* text-align: center; */
    /* border-bottom: 1px solid #7baeec; */
    /* border-radius:  */
    /* font-family: arial;
}  */

.button-add-name {
    width: 40%;
    margin-top: 20px;
    padding: 5px;
    background: transparent;
    color: #414141;
    border:1px solid #7baeec;
    border-radius: 15px;

}